<!DOCTYPE html>
<html>
  <head>
 
 <img src=http://1.media.collegehumor.cvcdn.com/94/51/9599000c57b39269668f3b7b77eda5fa.jpg style="width:300px;height:300px;" align ='right' >
  </head>

  <body bgcolor= "pink">
    <%= yield %>
  </body>
</html>
